---

cluster_name: "{{ cluster_name }}"

kubernetes_version: "{{ rke_kubernetes_version }}"

ssh_key_path: "{{ rke_config_dir }}/ssh_id_rsa"

{% if docker_version == 'latest' %}
ignore_docker_version: true
{% endif %}

nodes:
{% for host in ansible_play_hosts %}
  - hostname_override: "{{ hostvars[host].rke_node_hostname_override | default(hostvars[host].ansible_hostname, true) }}"
    address: "{{ hostvars[host]['ansible_' + host_interface].ipv4.address }}"
    internal_address: "{{ hostvars[host]['ansible_' + cluster_interface].ipv4.address }}"
    user: rke
    role:
      {{ hostvars[host].rke_node_roles | to_nice_yaml(indent=2) | indent(width=6) }}
    {% if hostvars[host].rke_node_labels is defined and hostvars[host].rke_node_labels | length > 0 %}
labels:
      {{ hostvars[host].rke_node_labels | to_nice_yaml(indent=2) | indent(width=6) }}
    {% endif %}

{% endfor %}

{% if rke_service_config is defined %}
services:
  {{ rke_service_config | to_nice_yaml(indent=2) | indent(width=2) }}
{% endif %}
network:
  {{ rke_network_config | to_nice_yaml(indent=2) | indent(width=2) }}

ingress:
  provider: none

monitoring:
  provider: none

addons_include: {{ rke_addons_include }}
